- model_class = BraintreeRails::Discount
.page-header
  %h1=t '.title', default: model_class.model_name.human
- @discount.attributes.each do |attribute, value|
  - next unless value.present?
  %p
    %strong= model_class.human_attribute_name(attribute) + ':'
    %br
    = @discount.send(attribute)

.form-actions
  = link_to 'Back', discounts_path, class: 'btn'
