- model_class = BraintreeRails::Transaction
.page-header
  %h1="New #{model_class.model_name.human}"
= render partial: "form"

- content_for :javascript do
  :javascript
    var braintree = Braintree.create("#{BraintreeRails::Configuration.client_side_encryption_key}")
    braintree.onSubmitEncryptForm('braintree-transaction-form');
    BraintreeData.setup("#{BraintreeRails::Configuration.merchant_id}", "braintree-transaction-form", BraintreeData.environments.sandbox)
